<div class="container">
  <div class="row">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">
          <h1>Ingrese Comentario</h1>
        </div>
        <div class="form-group">
          <textarea
            [(ngModel)]="selectedComments.name"
            placeholder="Igrese Comentario"
            class="form-control"
            cols="50"
            rows="10"
          ></textarea>
        </div>

        <button (click)="addOrEdit()" class="btn btn-primary">
          Submit
        </button>
        <button (click)="delete()">
          Delete
        </button>
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li
          *ngFor="let comment of commentsArr"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(comment)"
          [class.active]="comment == selectedComments"
        >
          {{ comment.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
